@keyframes color_change
    {
      0%   {background: #3D9970;}
      25%  {background: #FF851B;}
      50%  {background: #FF4136;}
      75%  {background: #39CCCC;}
      100% {background: #3D9970;}
    }

body {
	animation-name: color_change;
	animation-duration: 15s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
}

header img {
	border: 5px solid white;
  	padding: 10px;
  	opacity: 0.7;
  	border-radius: 20px;

}

header, main, footer {
	width: 50%;
	margin: auto;
}

main {
	margin-top: 25px;
}

article {
	margin-top: 25px;
	border : rgba(255, 255, 255, 0.7) 5px solid;
	color : rgb(0, 0, 0);
	background : rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	padding: 20px;
	word-wrap: break-word;
}


footer {
	border-top: rgba(255, 255, 255, 0.3) 5px solid;
	margin-top: 25px;
	text-align: center;
}

main {
	border : rgba(255, 255, 255, 0.7) 5px solid;
	padding: 20px;
	border-radius: 20px;
}

@media only screen and (max-width: 750px) {
  .site-pusher, .site-container { height: 100%; }
  .site-container { overflow: hidden; }
  .site-pusher {
    transition-duration: 0.3s;
    transform: translateX(0px); 
  }

nav {
	position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: #2a378b;
    width: 450px;
    transform: translateX(450px); 
  }

 .menu a {
    display: block;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid #303f9f; 
  }