@keyframes color_change/*changement de couleur*/
    {

      0%   {background: #3D9970;}
      25%  {background: #FF851B;}
      50%  {background: #FF4136;}
      75%  {background: #39CCCC;}
      100% {background: #3D9970;}
    }
#wrapper{
	position: sticky;
	top: 20px;
}

nav > #menu{ /*gère la colonne nav > #menu*/
  position:fixed;
  margin:0 0 0 -235px;
	display: inline;
	top:35px;
  z-index: 560;


}
nav > #menu ul{ /*Structure du menu*/
  width:250px;
  height: 195px;
  list-style:none;
  background:#222;
  overflow:hidden;/*disparait quand trop grand*/
  border-radius: 10px;
}

nav > #menu li{
    margin:0;
}

nav > #menu a{ /*Liens du menu*/
    padding:50;
    color:#fff;
    font-family:'helvetica neue', helvetica, arial, sans-serif;
    text-decoration:none;
    display:block;
    padding:12px 15px;
    letter-spacing:2px;
    border-bottom:1px solid #333;
	  cursor: default;
}
input[type="checkbox"]:checked ~ nav > #menu > #menu a:hover{/*affichage quand on passe la souris*/
    background: red;
    cursor: pointer;
}
label{/*case menu burger*/
	/*changement de couleur*/
  animation-name: color_change;
	animation-duration: 15s;
	animation-iteration-count: infinite;
  animation-direction: alternate;

  width:40px;
  height:40px;
  color:white;
  text-align:center;
  font-size:2em;
  position:fixed;
  top:20px;
  left:20px;
	z-index: 562;
	border-radius: 10px;
}
input[type="checkbox"]{ /*permet de ne pas afficher la vraie checkbox (qui fait tache)*/
    display:none;
}
input[type="checkbox"]:checked ~ nav > #menu{ /*affiche le menu quand le bouton est on*/
  margin:0 0 0 -20px;
  transition-property: margin;
  transition-duration: 0.5s;
}

input[type="checkbox"]:not(:checked) ~ nav > #menu { /*affiche le menu quand le bouton est on*/
  margin:0 0 0 -235px;
  transition-property: margin;
  transition-duration: 0.5s;
}

/* Sous menu Beta ! */



/* */


header{
	padding:25px 20px;/*Marge verticale*/
	background-color:black; /*Couleur de fond*/
	text-align:center;/*texte centré*/
}

#content{
  background-image: url(pattern-1.png);/*Couleur de fond*/
  display: flex;
  flex-direction: column;
}

footer{
	padding:25px 20px;/*Marge verticale*/
	background-color:black; /*Couleur de fond*/
	text-align:center;/*texte centré*/
	display: flex;
	color: white;
}


body{
	padding: 0;
	margin: 0;
}

section{ /*MODIFIE*/
	width:65%;/*Taille de la colonne centrée moins le padding*/
	min-width: 300px;
	background-color:#FFFFFF;/*Couleur de fond*/
	margin : 10px 5% ;/*centrer la colone*/
	display: flex;
	align-items: center;
    border-radius: 20px;
	
	
	animation-name: color_change;
	animation-duration: 15s;
	animation-iteration-count: infinite;
    animation-direction: alternate;

}

article{
	position: sticky;
	top: 3px;
	background-color:#FFFFFF;/*Couleur de fond*/
	margin : 10px 10px;/*centrer la colone*/
	padding:25px;/*margin interne*/
	align-items: center;
    border-radius: 10px;

}

aside{ /*MODIFIE*/
position: absolute;
right: -10px;
top: 85px;
width: 23%;
background-color: rgba(81, 82, 99, 0.89);
overflow:hidden;
padding: 15px;
border-radius: 10px;
color: white;
}

@media (max-width: 620px) { /*MODIFIE*/
 aside {
 display: none;
 }
 section {
 width: 93%;
 min-width: 200px;
 margin : 10px 5% ;
 }
}


#media{
}
#foot{
}
